<?xml version="1.0"?>
<launch>

  <node name="screen_node" pkg="ros_input_output" type="screen_node" output="screen" />  
  <node name="keyboard_node" pkg="ros_input_output" type="keyboard_node" output="screen" />
  <node name="mouse_node" pkg="ros_input_output" type="mouse_node" output="screen" />

</launch>

